torch
torchvision
opencv-python
numpy
tqdm
grad-cam
deep-sort-realtime
scipy
matplotlib
pyyaml
gdown
timm
onnxruntime
yt-dlp
webcolors
pretrainedmodels
efficientnet_pytorch
scikit-learn
fastapi
uvicorn
python-multipart
